.auction-form-container {
    max-width: 90%;
    margin: 0 auto;
}

.auction-form{
    border: 1px solid #ebebeb;
    padding: 30px;
    margin: 30px 0px 60px 0px;
    background-color: #fff;
    border-radius: 12px;
}

.form-group {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.form-group label {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: 600;
}

.form-control {
    display: none;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.thumbnail-container {
    position: relative;
    display: contents;
}

.remove-thumbnail {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-thumbnail:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.remove-thumbnail .material-icons {
    background-image: url("data:image/svg+xml,%3Csvg viewBox=%270 0 24 24%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z%27/%3E%3C/svg%3E");
    color: #ff69b4;
    background-size: contain;
    background-repeat: no-repeat;
    /*width: 24px';*/
    /*height: '24px';*/
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.quill-editor {
    height: 500px; /* 높이를 500px로 설정 */
    width: 100%; /* 폭을 100%로 설정 */
    padding-bottom: 50px;
    min-height: 200px;
    overflow-y: auto;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.upload-text {
    font-size: 0.8rem;
    color: #999;
}

.thumbnail-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 200px;*/
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.starting-price-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
    transition: border-color 0.3s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

.starting-price-input{
    display: block;
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.starting-price-input:focus {
    outline: none;
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}

.starting-price-input::placeholder {
    color: #999;
    font-style: italic;
}

.upload-icon {
    font-size: 3rem;
    color: #ccc;
}

.select-control {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 24px;
}

.select-control:focus {
    outline: none;
    border-color: #007bff;
}

.auction-create-button {
    display: inline-block;
    background-color: rgb(255, 85, 170);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auction-create-button:hover {
    background-color: rgb(255, 51, 153);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auction-create-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 85, 170, 0.5);
}

.auction-create-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}