.timer-container {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.time-text {
    font-weight: bold;
    font-size: 16px;
    margin: 0 4px;
}

.time-value {
    color: #ff69b4;
    margin: 0 1px;
}